/* General */

* 
{
    font-family: poppins;
    text-decoration: none !important;
}

/* width */
::-webkit-scrollbar 
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: #ffb643;
}

/* Handle */
::-webkit-scrollbar-thumb
{
    background: #000442;
    border-radius: 3rem;
}

@media (max-width: 688px) 
{
    ::-webkit-scrollbar
    {
        display: none;
    }
}

/* ------ Landing Page ------ */

html, body
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

main 
{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

header,
main,
footer {
  margin: 0;
  display: block;
}

/* Navbar */
nav.navbar
{
    background: #000442;
}

nav.navbar a
{
    color: #ffb643;
}

nav.navbar .navbar-brand 
{
    font-style: oblique;
    color: #ffb643;
    text-shadow: 1px 1px .5px #000442;
}

nav.navbar button
{
    background: #ffb643;
    color: #000442;
}

nav.navbar button:hover
{
    background: none;
    border: 1px solid #ffb643;
    color: #ffb643;
}

/* Hero */

section.hero-section .hero-container
{
    background: #000442;
    height: 105vh !important;
}

section.hero-section .hero-container .get-started h3
{
    color: #ffb643;
    font-size: 2.5rem;
}

section.hero-section .hero-container .get-started p
{
    font-size: 1.5rem;
}

section.hero-section .hero-container .get-started ul
{
    list-style-type: none;
}

@media (max-width: 688px)
{
    section.hero-section .hero-container .get-started ul li i
    {
        font-size: .7em !important;
    }
}

section.hero-section .hero-container .get-started button
{
    background: #ffb643;
    color: #000442;
}

section.hero-section .hero-container .get-started button:hover
{
    background: #000442;    
    color: #ffb643;
    border: 1px solid #ffb643;
}

section.hero-section .hero-container .homepage-img-box
{
    background: #8D8FFE;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding: 1rem;
}

section.hero-section .hero-container .index-img-box 
{
    text-align: center;
    height: 100%;
    width: 100%;
    background:#ffb643;
    border-radius: 50%;
}

section.hero-section .hero-container .index-img
{
    border-radius: 50%;
}

@media (max-width: 688px)
{
    section.hero-section .hero-container
    {
        height: 80vh;
    }
    section.hero-section .hero-container .homepage-img-box
    {
        width: 90%;
        margin: auto;
    }
}

footer 
{
    position: relative;
    min-height: 80px;
    background: #ffb643;
    color: #000442;
}

@media (max-width: 688px)
{
    footer 
    {
        position: relative;
        min-height: 80px;
        background: #ffb643;
        color: #000442;
    }
}

footer .copyright
{
    font-size: 1.2em;
}

footer .social
{
    font-size: 1.5em;
}

footer .social a
{
    color: #000442;
}

footer .social a:hover
{
    color: #6c757d;
}
/* ------ Landing Page Ends ------ */

/* Sign Up/In, Dashboard Body */

body.register-page
{
    background: url('https://img.freepik.com/premium-vector/pattern-seamless-print-spiral-colored-circles-brush-hand-drawn_676239-10407.jpg?size=626&ext=jpg&ga=GA1.2.804562735.1680008345&semt=ais');
}

body.register-page p a
{
    color: #000442;
    font-weight: bold;
}

/* ------ Sign Up/In Page ------ */

.auth-container
{
    margin-top: 1.5rem;
}

.auth-container .sign-up-text 
{
    background: #000442;
    color: #ffb643;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.auth-form {
    height: 95vh;
    background: #ffb643;
    color: #000442;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

@media (max-width: 688px)
{
    .auth-container
    {
        margin-top: 0;
    }
    .auth-form
    {
        height: 100vh;
        border-radius: 0;
    }
    .sm-auth-text
    {
        color: #000442;
    }
}

.auth-form input 
{
    background: none !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #000442 !important;
    color: #000442;
}

.auth-form input:focus
{
    border: 1px solid #000442 !important;
}

.auth-form .auth-user-box
{
    display: flex;
    height: 5rem;
    width: 5rem;
    font-size: 3rem;
    border-radius: 50%;
    background: #000442;
    color: #ffb643;
    align-items: center;
    justify-content: center;
}

.auth-container button
{
    background: #000442;
    color: #ffb643;
}

.auth-container button:hover
{
    background: #ffb643;
    color: #000442;
    border: 1px solid #000442;
} /* -- Sign Up/In Page Ends -- */

/* ------ Dashboard ------ */

.dashboard-container .todo-form
{
    background: #ffb643;
}

.dashboard-container .todo-form .todo-form-heading 
{
    color: #000442;
}

.dashboard-container .todo-form input
{
    background: none !important;
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #000442 !important;
    color: #000442;
}

.dashboard-container .todo-form input:focus
{
    border: 1px solid #000442 !important;
}

.dashboard-container .user-task
{
    background: #000442;
}

.dashboard-container .todo-heading
{
    color: #ffb643;
}

.dashboard-container .welcome-user .welcome-text
{
    color: #ffb643;
}

.dashboard-container .welcome-user .welcome-text-sm
{
    color: #000442;
}

.dashboard-container .logout-btn
{
    background: #ffb643;
    color: #000442;
}

.dashboard-container .logout-btn:hover
{
    border: .5px solid #ffb643;
    background: none;
    color: #ffb643;
}

.dashboard-container .add-todo-btn 
{
    background: #000442;
    color: #ffb643;
}

.dashboard-container .add-todo-btn:hover 
{
    background: none;
    border: .5px solid #000442;
    color: #000442;
}

.dashboard-container .no-task-text 
{
    background: #ffb643;
    color: #000442;
}